.btnProduct{
    border: none;
    padding: 20px 30px;
    color: #ffffff;
    background-color: rgb(71, 120, 175);
    font-size: 3em;
    cursor: pointer;
    border-radius: 15px;
}

.btnProduct:hover{
    background-color: rgb(56, 93, 136);

}

.sectionProduct{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}