@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Roboto:wght@300;500&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 15vw 85vw;
  grid-template-areas: 
  "nav header"
  "nav main"
  "nav footer";
  color: rgb(68, 68, 68);
}

header{
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  grid-area: main;
  background-color: rgb(230, 227, 233);
  overflow:auto;
}


nav{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  background-color: rgb(60, 109, 172);
}

nav a{
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 20px;
}

nav a:hover{
  background-color: rgb(140, 163, 192);
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 20px;
}

footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}












